$color-overlay:rgba(12, 77, 162, 0.7);
$color-base-white: #FFFFFF;
$color-base-text: #333333;
$color-text-gray: #999999;
$color-decorative-line: #CCCCCC;
$color-base-button: #0C4DA2;
$color-base-footer: #F5F5F5;
$color-base-card: #F2F5F9;
$color-button-card: rgba(92, 128, 188, 0.2);
$color-background: rgba(12, 77, 162, 0.2);
$color-background-light: rgba(12, 77, 162, 0.07);
$color-item-slider: rgba(12, 77, 162, 0.4);
$color-slide-nav: rgba(12, 77, 162, 0.04);
$color-link-hover: rgba(12, 77, 162, 0.9);
$color-button-blue: rgba(0, 181, 189, 0.2);
$color-button-blue-text: #00B5BD;
$color-button-yellow: rgba(247, 181, 18, 0.2);;
$color-button-yellow-text:  #F7B512;
$color-modal-warning: rgba(192, 42, 42, 0.699);
